<div id="resume" class="min-h-screen  py-10 text-gray-800 font-['Inter',_sans-serif]">
    <div class="max-w-4xl mx-auto  shadow-md rounded-2xl p-10 border border-gray-100 flex flex-wrap">

        <!-- Header -->
        <header class="pb-5 mb-8">
            <h1 class="text-4xl font-extrabold text-gray-500 tracking-tight mb-2">Mathebe Conny Moseri</h1>
            <div class="flex flex-wrap gap-6 text-sm text-gray-600 mb-3">
                <div class="flex gap-2">
                    <span [innerHTML]="mapPinIcon | safeHtml" class="text-blue-600"></span>
                    <a href="https://www.google.com/maps/place/Johannesburg,+South+Africa" target="_blank"
                        rel="noopener noreferrer" class="hover:text-blue-700">Johannesburg, South Africa</a>
                </div>
                <div class="flex gap-2">
                    <span [innerHTML]="whatsappIcon | safeHtml" class="text-green-600"></span>
                    <a href="https://wa.me/27765956598" target="_blank" class="hover:text-green-700">
                        (+27)76 595 6598
                    </a>
                </div>
                <div class="flex  gap-2">
                    <span [innerHTML]="mailIcon | safeHtml" class="text-blue-600"></span>
                    <a href="mailto:connymoseri0303&#64;gmail.com"
                        class="hover:text-blue-700">mathebemoseri&#64;gmail.com</a>
                </div>
            </div>
            <div class="flex flex-wrap  gap-6 text-sm text-gray-600">
                <div class="flex items-center gap-2">
                    <span [innerHTML]="githubIcon | safeHtml" class="text-blue-600"></span>
                    <a href="https://github.com/mathebe-moseri" target="_blank"
                        class="hover:text-blue-700">github.com/mathebe-moseri</a>
                </div>
                <div class="flex items-center gap-2">
                    <span [innerHTML]="linkedinIcon | safeHtml" class="text-blue-600"></span>
                    <a href="https://www.linkedin.com/in/mathebemoseri" target="_blank"
                        class="hover:text-blue-700">linkedin.com/in/mathebemoseri</a>
                </div>
                <div class="flex items-center gap-2">
                    <span [innerHTML]="portfolioIcon | safeHtml" class="text-blue-600"></span>
                    <a href="https://mathebe-portfolio.vercel.app/" target="_blank"
                        class="hover:text-blue-700">mathebe-portfolio</a>
                </div>
            </div>
        </header>

        <!-- Summary -->
        <section class="mb-10">
            <h2 class="text-xl font-bold  text-gray-500 uppercase tracking-wide mb-3 border-b-2 border-gray-100 pb-1">
                Summary
            </h2>
            <p class="text-base leading-relaxed text-gray-600">
                Junior Full Stack Developer with <strong class="text-gray-500">3 years</strong> in designing and
                delivering
                end-to-end web applications.
                Proficient in <strong class="text-gray-500">Angular</strong> for responsive frontends, <strong
                    class="text-gray-500">C#, .NET Web API, SQL, and Entity Framework</strong> for robust backends,
                and skilled in deploying scalable applications to the cloud using <strong
                    class="text-gray-500">Microsoft
                    Azure</strong>.
                Passionate about creating user-focused, maintainable, and high-performance solutions with <strong
                    class="text-gray-500">Tailwind CSS</strong>.
            </p>
        </section>

        <!-- Skills -->
        <section class="mb-10">
            <h2 class="text-xl font-bold text-gray-500 uppercase tracking-wide mb-3 border-b-2 border-gray-100 pb-1">
                Skills
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-5 text-sm">
                <div>
                    <div class="font-semibold text-gray-500 mb-2">Frontend</div>
                    <ul class="space-y-1 text-gray-600">
                        <li>• Figma</li>
                        <li>• Tailwind CSS</li>
                        <li>• JavaScript</li>
                        <li>• Angular</li>
                    </ul>
                </div>
                <div>
                    <div class="font-semibold text-gray-500 mb-2">Backend</div>
                    <ul class="space-y-1 text-gray-600">
                        <li>• Node.js</li>
                        <li>• C#</li>
                        <li>• .NET Core</li>
                        <li>• ASP.NET</li>
                    </ul>
                </div>
                <div>
                    <div class="font-semibold text-gray-500 mb-2">Database & Tools</div>
                    <ul class="space-y-1 text-gray-600">
                        <li>• SQL Server</li>
                        <li>• T-SQL</li>
                        <li>• SSMS</li>
                        <li>• GitHub</li>
                    </ul>
                </div>
                <div>
                    <div class="font-semibold text-gray-500 mb-2">Testing</div>
                    <ul class="space-y-1 text-gray-600">
                        <li>• Unit Testing</li>
                        <li>• API Testing</li>
                        <li>• Code Review</li>
                    </ul>
                </div>
                <div>
                    <div class="font-semibold text-gray-500 mb-2">Cloud & DevOps</div>
                    <ul class="space-y-1 text-gray-600">
                        <li>• Azure</li>
                        <li>• CI/CD</li>
                        <li>• Version Control</li>
                    </ul>
                </div>
                <div>
                    <div class="font-semibold text-gray-500 mb-2">Methodologies</div>
                    <ul class="space-y-1 text-gray-600">
                        <li>• Agile</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Work Experience -->
        <section class="mb-10">
            <h2 class="text-xl font-bold text-gray-500 uppercase tracking-wide mb-3 border-b-2 border-gray-100 pb-1">
                Work
                Experience</h2>
            <div class="mb-6">
                <div class="flex justify-between items-start mb-1">
                    <h3 class="font-semibold text-gray-500">JVR Africa Group</h3>
                    <span class="text-sm text-gray-500 font-semibold">October 2022 – August 2025</span>
                </div>
                <p class="text-sm text-gray-500 mb-3 font-medium">Junior Full Stack Developer • Remote</p>
                <ul class="list-disc list-inside text-sm space-y-2">
                    <li class="text-gray-600"><strong class="text-gray-500">Support & Client Solutions:</strong>
                        Resolved client
                        queries, enabled platform access, and handled data extract requests.</li>
                    <li class="text-gray-600"><strong class="text-gray-500">Software Development:</strong> Fixed
                        longstanding bugs
                        in the OneJVR platform backlog, improving system reliability.</li>
                    <li class="text-gray-600"><strong class="text-gray-500">Data Analysis & Visualization:</strong>
                        Cleaned and
                        extracted data for reporting, created visual insights using Power BI.</li>
                    <li class="text-gray-600"><strong class="text-gray-500">Collaboration & Design:</strong> Worked
                        with
                        designers and used Figma to investigate client needs and inform design decisions.</li>
                    <li class="text-gray-600"><strong class="text-gray-500">Mentorship:</strong>
                        Guided and supported new learnership interns.
                    </li>

                </ul>
            </div>
        </section>

        <!-- Education -->
        <section class="mb-10">
            <h2 class="text-xl font-bold text-gray-500 uppercase tracking-wide mb-3 border-b-2 border-gray-100 pb-1">
                Education
            </h2>
            <div class="mb-4">
                <div class="flex justify-between items-start mb-1">
                    <h3 class="font-semibold text-gray-500">Bachelor of Science in Mathematical Sciences</h3>
                    <span class="text-sm text-gray-500 font-semibold">April 2020</span>
                </div>
                <p class="text-sm text-gray-600 mb-3">Major: Computer Science and Mathematics • University of Limpopo
                </p>
            </div>
            <h4 class="font-semibold mb-2 text-gray-500">Certifications</h4>
            <ul class="list-disc list-inside text-sm text-gray-600 space-y-2">
                <li><strong class="text-gray-500">Angular — The Complete Guide (2025 Edition)</strong> • Udemy (Apr
                    2025)</li>
                <li><strong class="text-gray-500">Interactive Charts with D3 and Angular</strong> • Udemy (Dec 2023)
                </li>
                <li><strong class="text-gray-500">Master Microsoft Power Query in Power BI & Excel</strong> • Udemy (Aug
                    2023)
                </li>
                <li><strong class="text-gray-500">PHP with Laravel for Beginners</strong> • Udemy (Nov 2022)</li>
                <li><strong class="text-gray-500">Microsoft Azure Fundamentals (AZ-900)</strong> • Microsoft (Aug 2022)
                </li>
            </ul>
        </section>

        <!-- Projects -->
        <section class="mb-8">
            <h2 class="text-xl font-bold text-gray-500 uppercase tracking-wide mb-3 border-b-2 border-gray-100 pb-1">
                Projects
            </h2>
            <div class="mb-4">
                <div class="flex justify-between items-start mb-1">
                    <h3 class="font-semibold text-gray-500">Mathebe Portfolio<a
                            href="https://mathebe-portfolio.vercel.app/"
                            class="text-blue-700 px-2 italic font-[Railway]">(link)</a></h3>
                    <span class="text-sm text-gray-500 font-semibold">Nov 2025</span>
                </div>
                <p class="text-sm text-gray-500 mb-2">Front-End Web Application • In Progress</p>
                <ul class="list-disc list-inside text-sm text-gray-800 space-y-2">
                    <li class="text-gray-600">Showcases responsive layouts, animations with GSAP, and Tailwind UI
                        components.</li>
                    <li class="text-gray-600">Demonstrates Angular skills and modern front-end best practices.</li>
                </ul>
            </div>
            <div>
                <div class="flex justify-between items-start mb-1">
                    <h3 class="font-semibold text-gray-500">SkillUp Hub</h3>
                    <span class="text-sm text-gray-500 font-semibold">Oct 2025</span>
                </div>
                <p class="text-sm text-gray-500 mb-2">Learning Platform • In Progress</p>
                <ul class="list-disc list-inside text-sm text-gray-800 space-y-2">
                    <li class="text-gray-600">Interactive platform to track learning progress and explore educational
                        resources.
                    </li>
                    <li class="text-gray-600">Built with Angular, responsive design, and focus on user-friendly UI.</li>
                </ul>
            </div>
        </section>
    </div>
</div>


<div class="text-center px-4">
    <button (click)="printCV()"
        class="bg-gray-600 rounded-md px-2 py-2.5 text-white-50 rounded-lg shadow-sm hover:bg-blue-800 transition text-[8px]">
        Download Resume
    </button>
</div>