<div class="min-h-screen bg-blue-200 flex justify-center items-center gap-5">
  <p class="text-3xl">Exploring gsap.to</p>
  <h1 class="bg-green-500 flex justify-center items-center rounded-3xl" #boxA>A</h1>
  <h1 class="bg-red-500 flex justify-center items-center rounded-3xl" #boxB>B</h1>
  <h1 class="bg-yellow-500 flex justify-center items-center rounded-3xl" #boxC><span #boxC1>C</span></h1>
  <h1 class="bg-pink-500 flex justify-center items-center rounded-3xl" #boxD>D</h1>
  <h1 class="bg-purple-500 flex justify-center items-center rounded-3xl" #boxE>E</h1>
</div>

<div #canvasContainer class="canvas-container"></div>





<router-outlet />